* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  padding: 20% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background-image: url("../img/background_1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header h1 {
  width: 100%;
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header__p-top {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.31em;
  margin-top: .4%;
}

.header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
  height: 50px;
  margin-top: 4%;
}

.header form input {
  background-color: #ffffff;
  border: none;
  width: 100%;
  padding-left: 17%;
  font-size: 20px;
}

.header form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.2em;
  color: #999999;
}

.header form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.2em;
  color: #999999;
}

.header form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.2em;
  color: #999999;
}

.header form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.2em;
  color: #999999;
}

.header form button {
  width: 25%;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #5474fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header form button:hover {
  background-color: #0e3689;
  -webkit-transition: .3s;
  transition: .3s;
}

.header form button img {
  width: 13%;
  height: 34%;
}

.header span {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.2em;
  margin-top: 6%;
}

.header__scroll {
  margin-top: 1%;
  margin-bottom: 4%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #5474fd;
  padding: 2% 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar p {
  font-family: 'Josefin Sans';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.navbar nav {
  width: 37%;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar nav ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar nav ul li a:hover {
  color: #151515;
  -webkit-transition: .4s;
  transition: .4s;
}

.places {
  width: 100%;
  padding: 9% 5%;
  background-image: url("../img/places.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.places__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 41%;
  padding-top: 2%;
}

.places__text h2 {
  font-family: 'Aleo', serif;
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3%;
}

.places__text p {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.1em;
  color: #fff2f2;
  line-height: 1.5;
  margin-top: 7%;
}

.places__text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background-color: #5474fd;
  font-family: 'Aleo', serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.075em;
  text-decoration: none;
  padding: 3%;
  margin-top: 7%;
}

.places__text a:hover {
  background-color: #0e3689;
  -webkit-transition: .3s;
  transition: .3s;
}

.places__photo {
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3%;
}

.places__photo img {
  width: 100%;
  height: 53%;
  max-width: 320px;
}

.places__photo-second {
  margin-left: 39%;
  margin-top: 1%;
}

.option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  padding: 3% 0;
}

.option article {
  width: 21%;
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option article a {
  text-align: center;
  font-family: 'Aleo', serif;
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  color: #e8e8e8;
  margin-top: 9%;
  text-decoration: none;
}

.option article a:hover {
  color: #f3aa21;
  -webkit-transition: .3s;
  transition: .3s;
}

.spain-first, .spain-second {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/spain1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 12%;
}

.spain-first__text, .spain-second__text {
  width: 540px;
  opacity: 0.9;
  background-color: #232323;
  padding: 5% 3%;
}

.spain-first__text .text, .spain-second__text .text {
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  margin-bottom: 7%;
}

.spain-first__text .text_top, .spain-second__text .text_top {
  font-size: 20px;
  letter-spacing: 0.075em;
}

.spain-first__text .text_middle, .spain-second__text .text_middle {
  font-size: 20px;
  text-transform: uppercase;
}

.spain-first__text .text_bottom, .spain-second__text .text_bottom {
  font-size: 16px;
  line-height: 1.7;
}

.spain-first a, .spain-second a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  font-family: 'Aleo', serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-decoration: none;
}

.spain-first a:hover, .spain-second a:hover {
  background-color: #0e3689;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.spain-second {
  background-image: url("../img/spain2.png");
  padding: 10% 13%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.people {
  width: 100%;
  padding: 10% 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../img/man.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.people h2 {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 6%;
}

.people__man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 74%;
  background-color: #333333;
}

.people__man_image {
  width: 40%;
}

.people__man_image img {
  width: 100%;
}

.people__man_text {
  width: 60%;
  padding: 3% 6%;
}

.people__man_text h4 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  color: #fefefe;
  margin-bottom: 6%;
}

.people__man_text p {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  color: #e8e8e8;
  line-height: 1.5;
}

.people__man_text .fa-quote-left {
  color: #5474fd;
  font-size: 22px;
  margin-right: 3%;
  position: relative;
  bottom: 9px;
}

.people__man_text .fa-quote-left:hover {
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #232323;
  padding: 8% 0 3% 0;
}

.footer span {
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.footer__first-span {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  margin-bottom: 1%;
}

.footer__second-span {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 2.5%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12%;
}

.footer__nav .fab {
  font-size: 17px;
  color: white;
}

.footer__nav .fab:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #5170f2;
}

@media (max-width: 406.98px) {
  .header {
    padding: 75% 0 10% 0;
    height: 100vh;
  }
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 25px;
    margin-top: 3%;
  }
  .header form {
    width: 75%;
    height: 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 9% 0;
  }
  .header form input {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding-left: 4%;
  }
  .header form button {
    width: 40%;
    margin: 0 auto;
    margin-top: 4%;
  }
  .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 7% 3%;
  }
  .navbar p {
    width: 100%;
    font-size: 20px;
  }
  .navbar nav {
    width: 100%;
  }
  .navbar nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar nav ul li {
    width: 100%;
    margin-top: 3%;
  }
  .navbar nav ul li a {
    font-size: 13px;
  }
  .places {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .places__text {
    width: 100%;
  }
  .places__text a {
    text-align: center;
    margin: 8% auto;
  }
  .places__photo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .places__photo-second {
    margin: 10% 0;
  }
  .option {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .option article {
    width: 100%;
    margin: 5% 0;
  }
  .spain-second {
    padding: 10% 12%;
  }
  .people {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .people__man_image {
    width: 100%;
  }
  .people__man_text {
    width: 100%;
  }
  .footer__nav {
    width: 70%;
    margin-top: 4%;
  }
}

@media (min-width: 407px) and (max-width: 575.98px) {
  .header {
    padding: 50% 0 10% 0;
    height: 100vh;
  }
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 25px;
    margin-top: 3%;
  }
  .header form {
    width: 45%;
    height: 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 9% 0;
  }
  .header form input {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding-left: 4%;
  }
  .header form button {
    width: 60%;
    margin: 0 auto;
    margin-top: 4%;
  }
  .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 7% 3%;
  }
  .navbar p {
    width: 100%;
    font-size: 20px;
  }
  .navbar nav {
    width: 100%;
  }
  .navbar nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar nav ul li {
    width: 100%;
    margin-top: 3%;
  }
  .navbar nav ul li a {
    font-size: 13px;
  }
  .places {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .places__text {
    width: 100%;
  }
  .places__text a {
    text-align: center;
    margin: 8% auto;
  }
  .places__photo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .places__photo-second {
    margin: 10% 0;
  }
  .option {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .option article {
    width: 100%;
    margin: 5% 0;
  }
  .spain-second {
    padding: 10% 12%;
  }
  .people {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .people__man_image {
    width: 100%;
  }
  .people__man_text {
    width: 100%;
  }
  .footer__nav {
    width: 70%;
    margin-top: 4%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    padding: 30% 0 10% 0;
    height: 100vh;
  }
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 25px;
    margin-top: 3%;
  }
  .header form {
    width: 80%;
    height: 50px;
  }
  .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 7% 3%;
  }
  .navbar p {
    width: 100%;
    font-size: 20px;
  }
  .navbar nav {
    width: 100%;
  }
  .navbar nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar nav ul li {
    width: 100%;
    margin-top: 3%;
  }
  .navbar nav ul li a {
    font-size: 13px;
  }
  .places {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .places__text {
    width: 100%;
  }
  .places__text a {
    text-align: center;
    margin: 8% auto;
  }
  .places__photo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .places__photo img {
    max-width: 350px;
  }
  .places__photo-second {
    margin: 10% 0;
  }
  .option article {
    width: 30%;
  }
  .footer__nav {
    width: 50%;
    margin-top: 4%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    padding: 30% 0 10% 0;
    height: 100vh;
  }
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 25px;
    margin-top: 3%;
  }
  .header form {
    width: 80%;
    height: 50px;
  }
  .footer__nav {
    width: 30%;
    margin-top: 4%;
  }
}
/*# sourceMappingURL=style.css.map */