@import "_media.scss";
@import "_mixins.scss";
@import "_variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    width: $width;
    padding: 20% 0 0 0;
    @include flex;
    flex-wrap: wrap;
    text-align: center;
    background-image: url("../img/background_1.png");
    @include back_img;
    & h1 {
        width: $width;
        font-size: 48px;
        @include paragraph;
        font-weight: 700;
        text-transform: $upper;
        letter-spacing: 0.1em;
    }
    &__p-top {
        width: $width;
        font-size: 22px;
        @include paragraph;
        letter-spacing: 0.31em;
        margin-top: .4%;
    }
    & form {
        display: flex;
        width: 42%;
        height: 50px;
        margin-top: 4%;
        & input {
            background-color: #ffffff;
            border: none;
            width: $width;
            padding-left: 17%;
            font-size: 20px;
            &::placeholder {
                font-size: 14px;
                @include paragraph;
                letter-spacing: 0.2em;
                color: #999999;
            }
        }
        & button {
            width: 25%;
            border: 2px solid #ffffff;
            font-size: 14px;
            @include paragraph;
            text-transform: $upper;
            letter-spacing: 0.1em;
            background-color: #5474fd;
            @include flex;
            justify-content: space-evenly;
            align-items: center;
            &:hover {
                background-color: #0e3689;
                transition: .3s;
            }
            & img {
                width: 13%;
                height: 34%;
            }
        }
    }
    & span {
        width: $width;
        font-size: 14px;
        @include paragraph;
        letter-spacing: 0.2em;
        margin-top: 6%;
    }
    &__scroll {
        margin-top: 1%;
        margin-bottom: 4%;
    }
}

.navbar {
    @include flex;
    width: $width;
    background-color: #5474fd;
    padding: 2% 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & p {
        font-family: 'Josefin Sans';
        font-size: 24px;
        font-weight: 700;
        text-transform: $upper;
        letter-spacing: 0.1em;
        color: #ffffff;
    }
    & nav {
        width: 37%;
        & ul {
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            & li {
                & a {
                    text-decoration: none;
                    font-size: 14px;
                    @include paragraph;
                    text-transform: $upper;
                    &:hover {
                        color: #151515;
                        transition: .4s;
                    }
                }
            }
        }
    }
}

.places {
    width: $width;
    padding: 9% 5%;
    background-image: url("../img/places.png");
    @include back_img;
    @include flex;
    align-items: center;
    &__text {
        display: flex;
        flex-wrap: wrap;
        width: 41%;
        padding-top: 2%;
        & h2 {
            font-family: 'Aleo', serif;
            width: $width;
            font-size: 36px;
            @include paragraph;
            margin-bottom: 3%;
        }
        & p {
            width: $width;
            font-size: $size;
            @include paragraph;
            letter-spacing: 0.1em;
            color: #fff2f2;
            line-height: 1.5;
            margin-top: 7%;
        }
        & a {
            @include flex;
            align-items: center;
            width: 40%;
            background-color: #5474fd;
            font-family: 'Aleo', serif;
            font-size: $size;
            @include paragraph;
            letter-spacing: 0.075em;
            text-decoration: none;
            padding: 3%;
            margin-top: 7%;
            &:hover {
                background-color: #0e3689;
                transition: .3s;
            }
        }
    }
    &__photo {
        width: 39%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 3%;
        & img {
            width: $width;
            height: 53%;
            max-width: 320px;
        }
        &-second {
            margin-left: 39%;
            margin-top: 1%;
        }
    }
}

.option {
    width: $width;
    @include flex;
    background-color: #333333;
    padding: 3% 0;
    & article {
        width: 21%;
        padding: 3% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & a {
            text-align: center;
            font-family: 'Aleo', serif;
            width: $width;
            font-size: 36px;
            @include paragraph;
            color: #e8e8e8;
            margin-top: 9%;
            text-decoration: none;
            &:hover {
                color: #f3aa21;
                transition: .3s;
            }
        }
    }
}

.spain-first {
    width: $width;
    display: flex;
    align-items: center;
    background-image: url("../img/spain1.png");
    @include back_img;
    padding: 10% 12%;
    &__text {
        width: 540px;
        opacity: 0.9;
        background-color: #232323;
        padding: 5% 3%;
        .text {
            @include paragraph;
            width: $width;
            margin-bottom: 7%;
            &_top {
                font-size: 20px;
                letter-spacing: 0.075em;
            }
            &_middle {
                font-size: 20px;
                text-transform: $upper;
            }
            &_bottom {
                font-size: $size;
                line-height: 1.7;
            }
        }
    }
    & a {
        @include flex;
        align-items: center;
        width: 225px;
        height: 60px;
        background-color: #5474fd;
        font-family: 'Aleo', serif;
        font-size: $size;
        @include paragraph;
        text-transform: $upper;
        letter-spacing: 0.075em;
        text-decoration: none;
        &:hover {
            background-color: #0e3689;
            transition: .3s;
            opacity: 1;
        }
    }
}

.spain-second {
    @extend .spain-first;
    background-image: url("../img/spain2.png");
    padding: 10% 13%;
    justify-content: flex-end;
    &__text {
        @extend .spain-first__text;
    }
}

.people {
    width: $width;
    padding: 10% 0 10% 0;
    @include flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../img/man.png");
    @include back_img;
    & h2 {
        text-align: center;
        width: $width;
        font-size: 36px;
        @include paragraph;
        margin-bottom: 6%;
    }
    &__man {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 74%;
        background-color: #333333;
        &_image {
            width: 40%;
            & img {
                width: $width;
            }
        }
        &_text {
            width: 60%;
            padding: 3% 6%;
            & h4 {
                font-size: 20px;
                @include paragraph;
                text-transform: $upper;
                color: #fefefe;
                margin-bottom: 6%;
            }
            & p {
                @include paragraph;
                font-size: $size;
                color: #e8e8e8;
                line-height: 1.5;
            }
            .fa-quote-left {
                color: #5474fd;
                font-size: 22px;
                margin-right: 3%;
                position: relative;
                bottom: 9px;
                &:hover {
                    color: white;
                    transition: .4s;
                }
            }
        }
    }
}

.footer {
    width: $width;
    @include flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #232323;
    padding: 8% 0 3% 0;
    & span {
        width: $width;
        color: #ffffff;
        text-align: center;
    }
    &__first-span {
        font-size: 24px;
        font-weight: 700;
        text-transform: $upper;
        letter-spacing: 0.14em;
        margin-bottom: 1%;
    }
    &__second-span {
        font-size: $size;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin-bottom: 2.5%;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 12%;
        .fab {
            font-size: 17px;
            color: white;
            &:hover {
                transition: .2s;
                color: #5170f2;
            }
        }
    }
}